/* src/styles/button.css */

.custom-button {
    background-color: rgba(21, 49, 73, 0.671);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.custom-button:hover {
    background-color: #00bbff;
    transform: scale(1.1);
}

.custom-button:active {
    transform: scale(1);
}